@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Exo', sans-serif;
    text-align: center;
   }

/* Header Styles */
.bg-primary {
    background-color: #007bff;
  }
  
  .text-light {
    color: #f8f9fa !important;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem !important;
  }
  
  .py-3 {
    padding: 1rem 0 !important;
  }
  
  .flex-row {
    display: flex;
    flex-direction: row;
  }
  
  .align-center {
    align-items: center;
  }
  
  .justify-space-between-lg {
    justify-content: space-between;
  }
  
  .m-0 {
    margin: 0 !important;
  }
  
  .btn-lg {
    padding: 0.75rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 3rem;
  }
  
  .btn-info {
    background-color: #17a2b8;
    border-color: #17a2b8;
  }
  
  .btn-danger {
    background-color: #dc3545;
    border-color: #dc3545;
  }
  

.area{
    background: #4e54c8;  
    background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);  
    width: 100%;
    height:100vh;
    
   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/* Poll Card Styles */
.poll-card {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 300px;
    border: 2px solid #ccc;
    border-radius: 8px;
    margin: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .poll-card-title {
    padding: 16px;
    border-bottom: 2px solid #ccc;
    text-align: center;
    font-weight: bold;
  }
  
  .poll-card-buttons {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
  }
  
  .poll-card-button {
    flex: 1;
    margin: 5px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    width: 100%;
  }
  
  .poll-card-button-blue {
    background-color: rgba(173, 216, 230, 0.1);
  }
  
  .poll-card-button-red {
    background-color: rgba(255, 0, 0, 0.1);
  }
  
  .poll-card-button-purple {
    background-color: rgba(128, 0, 128, 0.1);
  }
  
  .poll-card-button-green {
    background-color: rgba(34, 200, 34, 0.1);
  }
  